.footer {
    background-color: #3e4555!important;
    color: white;
    li {
        color: white;
        list-style-type: none;
    }
    ul.instagram-pics {
        li {
            width: 33.3333333%;
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 20px;
            a, img {
                width: 100%;
                color: white;
            }
        }
    }
    p.clear a{
        color: white;
    }
}

.disclaimer {
    background-color: #3e4555!important;
    border-top: 1px solid rgba(255,255,255,.2);
    .d-flex {
        display: flex;
    }
    .links {
        display: block;
        ul {
            margin: 0;
            padding: 0;
            a {
                color: white;
            }
        }
    }
    .copyright {
        margin-left: auto!important;
        color: white;
    }
}