.header {
    .height {
        height: 70px;
    }
    .navbar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        visibility: visible;
        opacity: 1;
        transition: all 1s ease;
        &.hide {
            opacity: 0;
            visibility: hidden;
            display: none;
        }
        li {
            display: inline-block;
            margin-right: 20px;
            line-height: 70px;
            &:last-child {
                margin-right: 0;
            }
        }
        .fa-search {
            line-height: 70px;
            margin-right: 20px;
            cursor: pointer;
        }
        .loginSearch {
            display: flex;

            a.btn {
                margin: auto;
                line-height: 20px;
            }
        }
        a.logo {
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .form-container {
        text-align: center;
        display: flex;
        width: 100%;
        justify-content: space-evenly;

        .form-container {
            display: inline-block;
            opacity: 0;
            visibility: hidden;
            transition: all 1s ease;
            &.show {
                opacity: 1;
                visibility: visible;
            }
        }
        .searchForm {
            width: 100%;
            display: flex;
        }
        input, select {
            height: 70px;
            border: 0;
        }
        input {
            outline: none;
        }
        .keywordSearch {
            width: calc(100% - 20px);
            margin-right: 20px;
        }
    }
    .hideForm {
        font-size: 30px;
        color: #333;
        line-height: 70px;
        margin-left: 20px;
        margin-right: 10px;

    }
}

.banner {
    background: url(http://klbtheme.com/movify/wp-content/uploads/2018/04/movie-collection.jpg);
    position: relative;

    .container:before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #a11f3c 0%, #9352b3 100%);
        opacity: .7;
    }
}

