* {
	font-family: 'Quicksand', sans-serif;
}
body {
	background-color: #fff;
	a.btn {
		background-color: #9352b3;
		color: white!important;
		padding: 10px 15px;
		position: relative;
		line-height: 35px;
		font-size: 14px;
		font-weight: 600;
		border: 0;
		border-radius: 5px;
		text-transform: uppercase;
	}
	h2 {
		font-size: 1.9em;
		font-weight: 500;
		color: #3e4555;
	}
	h1 {
        color: white;
        margin: 71px 0;
        font-weight: 400;
	}
	ul {
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
		}
	}
}

@import './search-results';