.result {
	overflow: hidden;
	box-shadow: 10px 10px 40px 0 rgba(52,58,64,.1);
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-radius: 5px;
	transition: all .3s ease;
	&:hover {
		transform: translateY(-10px);
	}
	&.watched {
		opacity: 0.5;
	}
	.checked {
		color: orange;
		margin-right: 5px;
	}
	img {
		width: 100%;
	}
	&> [class*='col-'] {
		display: flex;
		flex-direction: column;
	  }
}
